
.l-header {
  background: #fff;
  position: fixed;



  @media (min-width: 768px) {
    position: static;
  }

  width: 100%;
  transition: 1s all;
  z-index: 100;
  //min-height: 180px;
  //background: #000;



}
